<div id="<%= dom_id room %>">
  <p>
    <strong>Room name:</strong>
    <%= room.name %>
    <% if request.path =~ /\/rooms\/\d+/ %>
      <div>
        <strong>Room description:</strong>
        <%= room.description %>
      </div>
    <% end %>
  </p>

</div>
