<h1>Editing card</h1>

<%= render "form", card: @card %>

<br>

<div class="btn-group">
    <%= button_to "Show this card", @card, method: :get, class: "btn btn-primary rounded mr-2" %>
    <%= button_to "Back to cards", cards_path, method: :get, class: "btn btn-primary rounded mr-2" %>
</div>