<p style="color: green"><%= notice %></p>

<h1>User Cards</h1>

<div id="cards">
  <% @cards.each do |card| %>
    <p>
      <%= render card %>
      <%= button_to "Show this card", card, method: :get, class: "btn btn-primary rounded mr-2" %>
    </p>
    <hr style="border-top: 1px solid black;">
  <% end %>
</div>
