<main>
  <div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Room access. <span class="text-muted">Use a special dedicated card.</span></h2>
        <p class="lead">Thanks to the card added to your user account, access to the rooms has never been easier!</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
		  <title>Placeholder</title>
		  <rect width="100%" height="100%" fill="none" />
		  <image xlink:href="https://www.cartpoland.pl/wp-content/uploads/2019/05/karta-zblizenie-1024x684.jpg" width="100%" height="100%" />
		</svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Convenient interface. <span class="text-muted">All tools within reach</span></h2>
        <p class="lead">Do you want access to the room, room information, or report a lost card? With the DoorApplication, you have everything at your fingertips!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
		  <title>Placeholder</title>
		  <rect width="100%" height="100%" fill="none" />
		  <image xlink:href="https://www.purepc.pl/files/Image/artykul_zdjecia/2015/recenzja_windows10/max/recenzja_windows_10_1.png" width="100%" height="100%" />
		</svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Options for administrators. <span class="text-muted">Data management</span></h2>
        <p class="lead">DoorApplication allows for adding rooms, granting/restricting user access to rooms, activating/deactivating user cards, and checking card usage!</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
		  <title>Placeholder</title>
		  <rect width="100%" height="100%" fill="none" />
		  <image xlink:href="https://callcenteronline.pl/images/datadmin.png" width="100%" height="100%" />
		</svg>

      </div>
    </div>

  </div>


  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
  </footer>
</main>
