<main>
  <div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Dostęp do pokoi. <span class="text-muted">Użyj specjalnej, dedykowanej karty</span></h2>
        <p class="lead">Dzięki karcie dodanej do twojego konta użytkownika, dostęp do pokoi nigdy nie był łatwiejszy!</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
		  <title>Placeholder</title>
		  <rect width="100%" height="100%" fill="none" />
		  <image xlink:href="https://www.cartpoland.pl/wp-content/uploads/2019/05/karta-zblizenie-1024x684.jpg" width="100%" height="100%" />
		</svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Wygodny interfejs. <span class="text-muted">Wszystkie narzędzia w zasięgu ręki</span></h2>
        <p class="lead">Chcesz dostępność do pokoju, informacje o pokoju lub zgłosić zagubienie karty? Z aplikacją DoorApplication wszystko masz w zasięgu ręki!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
		  <title>Placeholder</title>
		  <rect width="100%" height="100%" fill="none" />
		  <image xlink:href="https://www.purepc.pl/files/Image/artykul_zdjecia/2015/recenzja_windows10/max/recenzja_windows_10_1.png" width="100%" height="100%" />
		</svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Opcje dla administratorów. <span class="text-muted">Zarządzanie danymi</span></h2>
        <p class="lead">DoorApplication pozwala na dodawanie pokoi, nadawanie/zablokowanie dostępu do pokoi użytkownikom, możliwość aktywacji/dezaktywacji karty użytkownika oraz sprawdzenie użycia karty użytkownika!</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
		  <title>Placeholder</title>
		  <rect width="100%" height="100%" fill="none" />
		  <image xlink:href="https://callcenteronline.pl/images/datadmin.png" width="100%" height="100%" />
		</svg>

      </div>
    </div>

  </div>


  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
  </footer>
</main>
