<h1>Editing usage history</h1>

<%= render "form", usage_history: @usage_history %>

<br>

<div>
  <%= link_to "Show this usage history", @usage_history %> |
  <%= link_to "Back to usage histories", usage_histories_path %>
</div>
